---
interface Props{
    company?: string
    others?: string
    dates?: string
    workstation?: string
    paragraph?: string
    paragraph_two?: string
    country?: string
    language_one?: string
    language_two?: string
    language_three?: string
    
    }
    const {company,dates,workstation,paragraph,paragraph_two,country,others, language_one,language_two,language_three } = Astro.props
---
       
    <section class="bg-[rgba(114,114,114,0.2)] p-4">
            <section class="pb-[10px]">



                <section class="flex gap-2">
                    <section class="flex flex-col">
                        <section class="flex gap-2">
                            <h1 class="text-[18px]">{company}</h1>
                            <span class="text-[12px] text-[#4884f3] border border-white/30 p-[3px] rounded-[8px] h-fit w-fit"> {workstation} </span>
                        </section>
                        <section class="flex items-end gap-2">
                            <span class="text-gray-400 text-[13px] ">{others}</span> 
                            <img src={country} alt="" class="h-4 opacity-[0.8] ">
                            <span class="dark:text-black text-[12px] text-[#C7C7C7]">( {dates} )</span>  
                        </section>
                    </section>
                   
                </section>


                
                <section class="flex gap-2">
                    <section class="flex flex-col">
                        <section class="flex gap-2">
                          
                        </section>
                        <section class="flex">
                            <section class="flex items-center gap-1">
                            </section>
                        </section>
                    </section>
                 
                </section>             
            </section>


            <section class="dark:text-black text-[#cfcfcf] text-[12px] ">
                <p class="mb-1 pb-3">
                    {paragraph}
                </p>
                <p>
                    {paragraph_two}
                </p>
                <span class="flex justify-end gap-2">
                    <img src={language_one} alt="" class="h-5">
                    <img src={language_two} alt="" class="h-5">
                    <img src={language_three} alt="" class="h-5">
                </span>
            </section>
    </section>
